.link {
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    color: $lhover;
  }
}
.link.active {
  font-weight: 700;
}
.card__btn {
  padding: 15px 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(54, 54, 54);
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  transition: .3s ease;
  letter-spacing: 0.05em;
  &:hover {
    background: rgb(54, 54, 54);
  }
  &:active {
    background: rgb(22, 70, 26);
    border: 1px solid rgb(22, 70, 26);
  }
}
.chekout {
  width: 100%;
  margin-top: 20px;
  &__btn {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(15, 15, 15);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.05em;
    &:hover {
      background-color: rgb(0, 0, 0);
    }
    &:active {
      background-color: rgb(0, 0, 0);
      color: #ff0000;
    }
  }
}
