.product {
  position: relative;
  margin-top: 40px;
  &__inner {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__title {
    text-align: center;
  }
  &__items {
    display: flex;
    padding: 40px 0;
    // justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .product__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}